.highlight { border: 1px solid #7485c5; -moz-border-radius: 10px; border-radius: 10px; background-color: #101345; color: #fff043; width: 72ex; line-height: 1em; margin-top: 1ex; margin-bottom: 1ex; margin-left: -0.5cm; padding-left: 0.4cm; padding-bottom: 1.5ex; }
.highlight pre { padding: 0; margin: 0; }
.highlight .k { color: #9fe4fb; }
.highlight .c1 { color: #9e9e9e; }
.highlight .s1 { color: #95f73e; }
.highlight .sx { color: #98ed4e; }
.highlight .no { color: #bd7a04; }
.highlight .nb { color: #9fe4fb; }
.highlight .ss { color: #bf2318; }
.highlight .mi { color: #bf2318; }
.highlight .o { color: #9fe4fb; }
