code { font-size: 0.78em; font-family: "Monaco", monospace; }

.highlight { border: 2px solid #686868; -moz-border-radius: 10px; border-radius: 10px; background-color: #f8f8f8; color: #4679a9; line-height: 1em; margin-left: 1em; padding: 0; }
.highlight pre { margin-left: -3em; margin-top: -1ex; margin-bottom: -1ex; padding: 0; }
.highlight code.ruby .k { color: #761a47; }
.highlight code.ruby .c1 { color: #686868; }
.highlight code.ruby .s1 { color: #42aa7a; background-color: #edf7f7; }
.highlight code.ruby .sx { color: #42aa7a; }
.highlight code.ruby .no { color: #551e03; }
.highlight code.ruby .nb { color: #4679a9; }
.highlight code.ruby .ss { color: #551e03; }
.highlight code.ruby .mi { color: #42aa7a; }
.highlight code.ruby .o, .highlight code.ruby .p { color: #a94179; }
