body { font-size: 17px; font-family: Helvetica; background-color: white; }

a { color: black; }

.main_menu { font-size: 1.2em; width: 50em; margin-bottom: 1cm; }
.main_menu ul { display: inline-block; list-style-type: none; font-size: 1.33em; margin-left: -8em; }
.main_menu ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .main_menu ul { height: 1px; }
.main_menu li { float: left; font-variant: small-caps; padding-left: 1em; }
.main_menu a, .main_menu:visited { text-decoration: none; color: #7c7c7c; }

.content { font-size: 1em; width: 50em; line-height: 1.4em; margin-left: 1cm; }
.content p { margin: 1em; }
.content img { margin-left: 3em; }

.copyright { font-variant: small-caps; font-size: 0.6em; color: #00ad00; margin-left: 22em; margin-top: 3cm; }
.copyright a { text-decoration: none; color: #00ad00; }
