.highlight { border: 1px solid white; -moz-border-radius: 10px; background-color: #101345; color: #fff043; width: 72ex; line-height: 1em; margin-top: 1cm; margin-bottom: 1cm; margin-left: -0.5cm; padding-left: 0.4cm; padding-bottom: 1.5ex; }
.highlight pre { padding: 0; margin: 0; }
.highlight .k { color: #9fe4fb; }
.highlight .c1 { color: #9e9e9e; }
.highlight .s1 { color: #95f73e; }
.highlight .no { color: #bd7a04; }
.highlight .nb { color: #9fe4fb; }
