.highlight    
  border: 1px solid #7485C5
  -moz-border-radius: 10px
  border-radius: 10px
  
  background-color: #101345
  color: #FFF043
  
  width: 72ex
  
  line-height: 1em
  
  margin: 
    top: 1ex
    bottom: 1ex
    left: -0.5cm
  padding:
    left: 0.4cm
    bottom: 1.5ex
    
  pre
    padding: 0
    margin: 0
  code 
    font: 0.9em "Monaco", monospace
    
    &.ruby
      .k  // keyword
        color: #9FE4FB
  
      .c1 // comment
        color: #9E9E9E
    
      .s1 // string
        color: #95F73E
    
      .sx // string (quoted)
        color: #98ED4E    
    
      .no // constant
        color: #BD7A04
    
      .nb // method
        color: #9FE4FB
    
      .ss // symbol
        color: #BF2318
    
      .mi // integer
        color: #BF2318
    
      .o  // operator
        color: #9FE4FB
    